.comment-container {
    border:1px solid lightgray;
    border-radius: 15px;
    margin-bottom:15px;
    padding:20px;
}
.comment-container img {
    width:70px;
    height: 70px ;
    border-radius: 50%;
    margin: 20px;
    float: left;
}
.comment-container{
    box-shadow: 6px 4px 9px 0px rgba(184,182,184,0.46);

}
.like-button {
    margin-right: 30px;
}